<footer class="footer bg-dark text-center">
  <div class="container">
    <h4>Wilmar Santiago Duque Valencia - FullStack Developer -  &copy; {{ anio }}</h4>
    <div class="display">
      <div class="space">
        <a href="https://twitter.com/wilmarduque71" target="_blank"><img class="tamano-image"
            src="../../../assets/images/twitter.png"></a>
      </div>
      <div class="space">
        <a href="https://github.com/wilmardev" target="_blank"><img class="tamano-image"
            src="../../../assets/images/git-hub.svg"></a>
      </div>
      <div class="space">
        <a href="https://www.linkedin.com/in/wilmarduque71/" target="_blank">
          <img class="tamano-image" src="../../../assets/images/linkedin.png"></a>
      </div>
    </div>
  </div>
</footer>