<div class="design">
  <svg style="display: none;">
    <defs id="MathJax_SVG_glyphs"></defs>
  </svg>
  <p><a href="https://hr-testcases.s3.amazonaws.com/1058/1058-chinese.md" target="_blank">Chinese Version</a><br>
    <a href="https://hr-testcases.s3.amazonaws.com/1058/1058_rus.md" target="_blank">Russian Version</a><br></p>

  <p>You are given a 3-D Matrix in which each block contains 0 initially. The first block is defined by the coordinate
    (1,1,1) and the last block is defined by the coordinate (N,N,N). There are two types of queries.</p>

  <pre><code>
      UPDATE x y z W
    </code></pre>

  <p>updates the value of block (x,y,z) to W.</p>

  <pre><code>
      QUERY x1 y1 z1 x2 y2 z2
    </code></pre>

  <p>calculates the sum of the value of blocks whose x coordinate is between x1 and x2 (inclusive), y coordinate between
    y1 and y2 (inclusive) and z coordinate between z1 and z2 (inclusive). </p>

  <p><strong>Input Format</strong> <br>
    The first line contains an integer T, the number of test-cases. T testcases follow. <br>
    For each test case, the first line will contain two integers N and M separated by a single space. <br>
    N defines the N * N * N matrix. <br>
    M defines the number of operations. <br>
    The next M lines will contain either </p>

  <pre><code> 
     1. UPDATE x y z W
     2. QUERY  x1 y1 z1 x2 y2 z2 
    </code></pre>

  <p><strong>Output Format</strong> <br>
    Print the result for each QUERY.</p>

  <p><strong>Constrains</strong> <br>
    1 &lt;= T &lt;= 50 <br>
    1 &lt;= N &lt;= 100 <br>
    1 &lt;= M &lt;= 1000 <br>
    1 &lt;= x1 &lt;= x2 &lt;= N <br>
    1 &lt;= y1 &lt;= y2 &lt;= N <br>
    1 &lt;= z1 &lt;= z2 &lt;= N <br>
    1 &lt;= x,y,z &lt;= N <br>
    -10<sup>9</sup> &lt;= W &lt;= 10<sup>9</sup> </p>

  <p><strong>Sample Input</strong></p>

  <pre><code>
    2
    4 5
    UPDATE 2 2 2 4
    QUERY 1 1 1 3 3 3
    UPDATE 1 1 1 23
    QUERY 2 2 2 4 4 4
    QUERY 1 1 1 3 3 3
    2 4
    UPDATE 2 2 2 1
    QUERY 1 1 1 1 1 1
    QUERY 1 1 1 2 2 2
    QUERY 2 2 2 2 2 2
    </code></pre>

  <p><strong>Sample Output</strong></p>

  <pre><code>
    4
    4
    27
    0
    1
    1
    </code></pre>

  <p><strong>Explanation</strong> <br>
    First test case, we are given a cube of 4 * 4 * 4 and 5 queries. Initially all the cells (1,1,1) to (4,4,4) are 0.
    <br>
    <code>UPDATE 2 2 2 4</code> makes the cell (2,2,2) = 4 <br>
    <code>QUERY 1 1 1 3 3 3</code>. As (2,2,2) is updated to 4 and the rest are all 0. The answer to this query is 4.
    <br>
    <code>UPDATE 1 1 1 23</code>. updates the cell (1,1,1) to 23.
    <code>QUERY 2 2 2 4 4 4</code>. Only the cell (1,1,1) and (2,2,2) are non-zero and (1,1,1) is not between (2,2,2)
    and (4,4,4). So, the answer is 4. <br>
    <code>QUERY 1 1 1 3 3 3</code>. 2 cells are non-zero and their sum is 23+4 = 27. </p>
</div>