html, body {
    background: transparent;
    height: 100% !important;
    margin: 0;
    padding: 0;
    padding-right: 0px !important;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #535353;
    color: #ffffff;
    margin: 0px auto;
    width: 100%;
    padding: 15px 0px;
}

.main-container {
    margin-top: 3em;
    max-width: 90%;
    height: 85%;
}